body{
font-family:Arial,'Times New-Roman',Helvetica,sans serif;
font-size:120%;
padding:0;
margin:0;
background:url("images/2.jpg") no-repeat  center top  grey ;
width:100%;
display:table;
}

p{
text-align:center;
text-indent:12px;
line-height:150%;
color:990090;
}

h1{
text-align:center;
color:red;
}

h2{
text-align:center;
color:blue;
}

p span{
font-weight:bold;
font-style:italic;
}




